<span class="list-group-item-heading">
  <i class="fa fa-stack-overflow" title="Stackoverflow question: {{title}}"></i>
    <span class="date pull-right">
      {{creationDate * 1000 | date: 'dd.MM.yyyy HH:mm'}}
    </span>
</span>

<hr/>

<div class="list-group-item-text">
  <ul class="list-unstyled">
    <li class="default-line-height">
      <div class="inline">
        <div class="wrap">
          <p><i class="fa fa-question fa-fw"></i></p>
          <p><i>{{title}}</i></p>
        </div>
      </div>
    </li>
    <li>
      <i class="fa fa-user-o fa-fw"></i>
      Asked by:
      <a href="{{ownerLink}}" target="_blank">{{ownerName}}</a>
    </li>
    <li>
      <i class="fa fa-comment-o fa-fw"></i>
      Answered: {{answerCount}}x
    </li>
    <li *ngIf="hasAcceptedAnswer; else elseBlock">
      <i class="fa fa-fw fa-envelope-o"></i>
      Status: closed
    </li>
    <ng-template #elseBlock>
      <i class="fa fa-fw fa-envelope-open-o"></i>
      Status: open
    </ng-template>

    <li>
      <i class="fa fa-external-link fa-fw"></i>
      <a href="{{questionLink}}" target="_blank">Show more...</a>
    </li>
  </ul>
</div>

